<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-estimate-product-ctm-heading">Create or edit a Estimate Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!estimateProduct.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="estimateProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                        [(ngModel)]="estimateProduct.number" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="estimateProduct.price" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estimate">Estimate</label>
                    <select class="form-control" id="field_estimate" name="estimate" [(ngModel)]="estimateProduct.estimateId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estimateOption.id" *ngFor="let estimateOption of estimates; trackBy: trackEstimateById">{{estimateOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="estimateProduct.productId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_generic">Generic</label>
                    <select class="form-control" id="field_generic" name="generic" [(ngModel)]="estimateProduct.genericId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="genericProductOption.id" *ngFor="let genericProductOption of genericproducts; trackBy: trackGenericProductById">{{genericProductOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
