<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roomGenericProduct">
            <h2><span>Room Generic Product</span> {{roomGenericProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{roomGenericProduct.quantity}}</span>
                </dd>
                <dt><span>Quantity Unit</span></dt>
                <dd>
                    <span>{{roomGenericProduct.quantityUnit}}</span>
                </dd>
                <dt><span>Room</span></dt>
                <dd>
                    <div *ngIf="roomGenericProduct.roomId">
                        <a [routerLink]="['/room-ctm', roomGenericProduct.roomId, 'view']">{{roomGenericProduct.roomId}}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="roomGenericProduct.productId">
                        <a [routerLink]="['/generic-product-ctm', roomGenericProduct.productId, 'view']">{{roomGenericProduct.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/room-generic-product-ctm', roomGenericProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
