<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estimate">
            <h2><span>Estimate</span> {{estimate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{estimate.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{estimate.description}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{estimate.total}}</span>
                </dd>
                <dt><span>Division</span></dt>
                <dd>
                    <div *ngIf="estimate.divisionId">
                        <a [routerLink]="['/division-ctm', estimate.divisionId, 'view']">{{estimate.divisionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estimate-ctm', estimate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
