<div>
    <h2 id="page-heading">
        <span>Room Sizes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room-size-ctm" [routerLink]="['/room-size-ctm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Room Size
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="roomSizes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="floorSize"><span>Floor Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wallSize"><span>Wall Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roomId"><span>Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roomSize of roomSizes ;trackBy: trackId">
                <td><a [routerLink]="['/room-size-ctm', roomSize.id, 'view' ]">{{roomSize.id}}</a></td>
                <td>{{roomSize.floorSize}}</td>
                <td>{{roomSize.wallSize}}</td>
                <td>
                    <div *ngIf="roomSize.roomId">
                        <a [routerLink]="['../room-ctm', roomSize.roomId , 'view' ]" >{{roomSize.roomId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/room-size-ctm', roomSize.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room-size-ctm', roomSize.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'room-size-ctm', { outlets: { popup: roomSize.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="roomSizes && roomSizes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
